
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

  <div class="main-container">
    <div routerLink="/register" class="group"></div>
    <a routerLink="/signin"><span class="log-in">Log in</span></a>
    <div class="frame-1">
<!-- app-header.component.html -->
<a routerLink="/home" fragment="services">Our Services</a>
      <span class="company"> Company</span
      ><span class="contact-us">Contact us </span>
      <span class="q-a"> Q/A</span>
    </div>
  </div>
  