
<div class="body">
<div class="container">
    <div class="questionsAndAnswers">Questions and Answers</div>
    <div class="faq-item">
        <h2><span class="question-icon"></span>How Can We Contact You?</h2>
        <p>It's super easy! Just message us on Easy Bank's website or on our social media pages, and we will contact you to explain all the details, especially how to get the loan.</p>
    </div>
    <div class="faq-item">
        <h2><span class="question-icon"></span>How And When Do You Respond To My Responses?</h2>
        <p>We'll guide you through the steps after checking your eligibility for the loan. Once you decide to proceed, we'll create the loan file, gather necessary documents, and send them to suitable credit agencies via our platform. They'll respond as quickly as possible.</p>
    </div>
    <div class="faq-item">
        <h2><span class="question-icon"></span>Why Us?</h2>
        <p>We bring you the best deal quickly and affordably. Additionally, we serve as your financial advisor, offering guidance for all your banking decisions.</p>
    </div>
    <div class="faq-item">
        <h2><span class="question-icon"></span>What Are Your Costs?</h2>
        <p>We offer free consultation services. If you secure a loan approval through our digital platform, we receive 1% of the loan as a commission.</p>
    </div>
</div>
</div>
