
<div class="easybankgroupphoto1"></div>
<div class="rectangle20"></div>
<div class="aboutUs">About us</div>
<div class="easyBankFoundedIn2023Revolutio">
  EasyBank, founded in 2023, revolutionizes personal banking with tailored loans and AI-driven financial inclusion.
</div>
<div class="rectangle21"></div>
<div class="capture_d_ecran_2024311_125134"></div>
<div class="anAccreditedTunisianFintechSta">
  An accredited Tunisian fintech startup, we leverage advanced AI to offer personalized loan services and banking
  solutions, fostering financial inclusion with a commitment to professionalism and innovation.
</div>

<div class="whyEasyBank">Why EasyBank ?</div>
<div class="line17"></div>
