<div class="contactUs">Contact us</div>
<div class="letSTurnYourFinancialDreamsInt">
  <div class="textBlock">Let's turn your financial dreams into reality! Fill out the form now.</div>
  <div class="textBlock2"><p></p></div>
</div>
<div class="easyBankCyberParcAbdelkaderDgh">
  <p class="labelWrapper">
    <span class="label">Easy</span>
    <span class="label2">Bank</span>
  </p>
  <div class="textBlock3">
    <p class="labelWrapper2"><span class="label3">Cyber Parc, Abdelkader Dgharir Street,</span></p>
  </div>
  <div class="textBlock4">
    <p class="labelWrapper3"><span class="label4">Sousse, Tunisia</span></p>
  </div>
  <p class="labelWrapper4"><span class="label5">Phone</span></p>
  <p class="labelWrapper5"><span class="label6">+216 42 503 200</span></p>
  <p class="labelWrapper6"><span class="label7">+216 42 550 600</span></p>
  <p class="labelWrapper7"><span class="label8">Email</span></p>
  <div class="textBlock5">
    <p class="labelWrapper8">
      <a href="mailto:contact@easybank.tn">
      <!-- <span class="label9">contact@easybank.tn</span> -->
      <span class="label9">contact&#64;easybank.tn</span></a>
    </p>
  </div>
</div>
<!-- <div class="image11"> -->
<div class="container">
<!-- <h1>embed location map</h1> -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1121.5670110181288!2d10.59559153260377!3d35.85043304351542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8a42f3d81941%3A0x91566e7064e70917!2sCyber%20Parc!5e0!3m2!1sfr!2stn!4v1712013486929!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- </div> -->
<div class="ourSocialMediaAccountsConnectW">
  <div class="textBlock6">Our social media accounts</div>
  <div class="textBlock7">
    <p class="labelWrapper9"><span class="label10">Connect with us through our social</span></p>
  </div>
  <div class="textBlock8">networks</div>
  <div class="textBlock9"><p></p></div>
</div>

<div class="frame23">
    <a href="https://www.linkedin.com/company/easybank-official/">
      <i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444;" ></i>
    </a>
    <a href="https://www.facebook.com/EasyBankofficial?locale=fr_FR">
      <i class="bi bi-facebook mr-2" style="font-size: 35px; color: #444444;"></i> 
    </a>
   <a href="https://www.tiktok.com/@easybank.tn">
    <i class="bi bi-tiktok" style="font-size: 35px; color: #444444;"></i> 
   </a>
</div>


