<div class="togetherWeBuildABetterFinancia">Together, we build a better financial future</div>
  <div class="welcomeToOurCommunity">Welcome To Our Community</div>
  <div class="rectangle33"></div>
  <div class="areYouEligibleEnterYourKeyInfo">
    <div class="textBlock">
      Are you eligible? Enter your key information to calculate loan feasibility and monthly payment amounts.
    </div>
    
  </div>
  <div class="herohtImg1"></div>
  <button class="button">
    <div class="rectangle"></div>
     class="loanSimulator"><a routerLink="/form"><div class="loanSimulator">Loan Application</div></a>
  </button>

  <button class="button3">
    <div class="rectangle3"></div>
    <div class="watchTheVideo">Watch the video</div>
  </button>
  <div class="frame23">
    <div class="image7 d-flex">
      <a href="https://www.linkedin.com/company/easybank-official/">
        <i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444;" ></i>
      </a>
      <a href="https://www.facebook.com/EasyBankofficial?locale=fr_FR">
        <i class="bi bi-facebook mr-2" style="font-size: 35px; color: #444444;"></i> 
      </a>
     <a href="https://www.tiktok.com/@easybank.tn">
      <i class="bi bi-tiktok" style="font-size: 35px; color: #444444;"></i> 
     </a>
  </div>
    <div class="image7"></div>
  </div>