
<div class="container">
    <h1 class="ourServices">Our Services</h1>
    <p class="discover">Discover the ease of banking with our services</p>
    
    <div class="services" >
        <div class="service-block" id="extra-services">
            <img src="../../assets/extra.png" alt="Extra Services">
            <h2>Extra Services</h2>
            <p>We simplify access to banking insurance products through partnerships with banks and insurance companies.</p>
        </div>
  
        <div class="service-block" id="financial-consulting">
            <img src="../../assets/consulting.png" alt="Financial Consulting">
            <h2>Financial Consulting</h2>
            <p>We offer personalized consultations to assist clients in meeting their financial needs.</p>
        </div>
  
        <div class="service-block" id="negotiation">
            <img src="../../assets/negociation.png" alt="Negotiation">
            <h2>Negotiation</h2>
            <p>We collaborate with our network of banking partners to obtain competitive terms and the best costs for our customers.</p>
        </div>
  
        <div class="service-block" id="loan-intermediary">
            <img src="../../assets/loan.png" alt="Loan Intermediary">
            <h2>Loan Intermediary</h2>
            <p>We act as a middleman between clients and partner banks to facilitate access to the best choices for obtaining suitable loans.</p>
        </div>
    </div>
  </div>