/* :host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 1436px;
  height: 153px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.line5 {
  position: relative;
  left: 503px;
  top: 19px;
  width: 3.9999px;
  max-width: 100%;
  height: 110.0273px;
  max-height: 100%;
}
.line5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: translateX(3.9999px) rotate(90.5209deg);
  width: 110.0045px;
  height: 0;
  outline: solid 1.5px #a4e4c3;
}
.line6 {
  position: relative;
  left: 1008px;
  top: 19px;
  width: 3.9999px;
  max-width: 100%;
  height: 110.0273px;
  max-height: 100%;
}
.line6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: translateX(3.9999px) rotate(90.5209deg);
  width: 110.0045px;
  height: 0;
  outline: solid 1.5px #a4e4c3;
}
.satisfiedClients {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 156px;
  top: 93px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.projectsCompleted {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 624px;
  top: 93px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.reviewsGiven {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1127px;
  top: 89px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1M {
  color: #0eb760;
  font-size: 35px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 156px;
  top: 44px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1M2 {
  color: #0eb760;
  font-size: 35px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 624px;
  top: 44px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._100 {
  color: #0eb760;
  font-size: 35px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1124px;
  top: 44px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
} */
:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1384px;
  height: 153px;
  margin: 0 auto;
  overflow: hidden;
}
.flex-row-ed {
  position: absolute;
  width: 1145px;
  height: 110px;
  top: 24px;
  left: 122px;
  z-index: 4;
}
.line {
  position: absolute;
  width: 4px;
  height: 110.027px;
  top: 0;
  left: 346px;
  background-size: cover;
}
.line-1 {
  position: absolute;
  width: 4px;
  height: 110.027px;
  top: 0;
  left: 851px;
  background-size: cover;
  z-index: 1;
}
.reviews-given {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 67px;
  left: 971px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.satisfied-clients {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 71px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.projects-completed {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 71px;
  left: 468px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.flex-row {
  position: absolute;
  width: 1058px;
  height: 42px;
  top: 46px;
  left: 122px;
  z-index: 7;
}
.m-plus {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 0;
  left: 0;
  color: #0eb760;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.m-plus-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 0;
  left: 468px;
  color: #0eb760;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.plus {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 0;
  left: 968px;
  color: #0eb760;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
