
    <div class="main-container">
      <div class="flex-row-ed">
        <div class="line"></div>
        <div class="line-1"></div>
        <span class="reviews-given">Reviews given</span
        ><span class="satisfied-clients">Satisfied clients</span
        ><span class="projects-completed">Projects completed</span>
      </div>
      <div class="flex-row">
        <span class="m-plus">1M+</span><span class="m-plus-2">1M+</span
        ><span class="plus">100+</span>
      </div>
    </div>
