
<div class="whereYouthfulMindsFuelExceptio">
  <div class="textBlock">
    Where youthful minds fuel exceptional service! We're a unified team, driven by passion and innovation.
  </div>
  <div class="textBlock2"><p></p></div>
</div>
<div class="easyBankSTeam">EasyBank’s Team</div>
<div class="rectangle30"></div>
<div class="mohamedKhelifiChiefExecutiveOf">
  <div class="textBlock3">Mohamed khelifi</div>
  <div class="textBlock4">
    <p class="labelWrapper"><span class="label">Chief Executive Officer</span></p>
  </div>
</div>
<div class="unnamed">محمد الخليفي المدير التنفيذي</div>
<div class="line7"></div>
<div class="prormohamed"></div>
<div class="image14"><a href="https://www.linkedin.com/in/mohamed-khelifi-3b5b58101/"><i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444;"></i></a></div>
<div class="rectangle33"></div>
<div class="nadaBenNahiaBankingSalesOffice">
  <div class="textBlock5">Nada Ben Nahia</div>
  <div class="textBlock6">
    <p class="labelWrapper2"><span class="label2">Banking Sales Officer</span></p>
  </div>
</div>
<div class="line8"></div>
<div class="unnamed2">ندى بن ناهية مسؤولة المبيعات البنكية</div>
<div class="profnada"></div>
<div class="image18"><i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444;"></i></div>
<div class="rectangle24"></div>
<div class="unnamed3">عزيز بن رمضان مدير العمليات</div>
<div class="line9"></div>
<div class="azizBenRomdhaneChiefOperatingO">
  <div class="textBlock7">Aziz Ben Romdhane</div>
  <div class="textBlock8">
    <p class="labelWrapper3"><span class="label3">Chief Operating Officer</span></p>
  </div>
</div>
<div class="profaziz"></div>
<div class="image15"><i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444;"></i></div>
<div class="rectangle34"></div>
<div class="line10"></div>
<div class="yasmineKsiaaBackOfficeLoanSpec">
  <div class="textBlock9">Roua Mokni</div>
  <div class="textBlock10">
    <p class="labelWrapper4"><span class="label4">Web Developer</span></p>
  </div>
</div>
<div class="unnamed4">
  <div class="textBlock11">رؤى المكني مطورة واب </div>
  <div class="textBlock12"><p></p></div>
</div>
<div class="profroua"></div>
<div class="image19"><a href="https://www.linkedin.com/in/roua-mokni/"> <i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444;"></i></a></div>
<div class="rectangle35"></div>
<div class="sirineSmidaCustomerServiceCons">
  <div class="textBlock13">Sirine Smida</div>
  <div class="textBlock14">
    <p class="labelWrapper5"><span class="label5">Customer Service Consultant</span></p>
  </div>
</div>
<div class="unnamed5">سيرين صميدة مسؤولة تطوير خدمة العملاء</div>
<div class="line15"></div>
<div class="profsirine"></div>
<div class="image20"><i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444;"></i></div>
<div class="rectangle31"></div>
<div class="line11"></div>
<div class="skanderEnaceurChiefMarketingOf">
  <div class="textBlock15">Skander Enaceur</div>
  <div class="textBlock16">
    <p class="labelWrapper6"><span class="label6">Chief Marketing Officer</span></p>
  </div>
</div>
<div class="unnamed6">إسكندر الناصر مدير التسويق و الاتصال</div>
<div class="profilskander"></div>
<div class="image16"><a href="https://www.linkedin.com/in/roua-mokni/"><i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444; "></i></a></div>
<div class="rectangle32"></div>
<div class="helmiCherifITConsultant">
  <div class="textBlock17">Helmi Cherif</div>
  <div class="textBlock18">
    <p class="labelWrapper7"><span class="label7">IT consultant</span></p>
  </div>
</div>
<div class="line14"></div>
<div class="unnamed7">حلمي الشريف مستشار تكنولوجيا المعلومات</div>
<div class="profilhilmi"></div>
<div class="image17"><i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444;"></i></div>
<div class="rectangle242"></div>
<div class="line16"></div>
<div class="tassnimLatrachCustomerServiceC">
  <div class="textBlock19">Tasnim Latrach</div>
  <div class="textBlock20">
    <p class="labelWrapper8"><span class="label8">Customer Service Consultant</span></p>
  </div>
</div>
<div class="unnamed8">تسنيم الأطرش مكلف بالحرفاء</div>
<div class="profiltasnim"></div> 
<div class="image21"><i class="bi bi-linkedin mr-2" style="font-size: 35px; color: #444444;"></i></div>
